@if (PortPin is not null)
{
	<ModalPage @ref="linkingMenuModal" Width="@Width" @bind-IsVisible="isModalVisible">
		<PortPinEditingMenu IsModalVisible="HideModal" PortPin="PortPin"></PortPinEditingMenu>
	</ModalPage>

	<div class="card mt-3 @Style">
		<div class="card-header ">
			<div class="inline space-between">
				<a>Pin: @PortPin.Id - @Style</a>

				@if (PortPin.Favorite)
				{
					<img src="/img/favourite-check.png" class="btn-img" @onclick="ChangeFavouriteState">
				}
				else
				{
					<img src="/img/favourite-uncheck.png" class="btn-img" @onclick="ChangeFavouriteState">
				}
			</div>
		</div>
		<div class="card-body">
			<div class="inline space-between">
				<a>@PortPin.GetFormatedStringValue()</a>
				<img src="/img/edit.png" class="btn-img" @onclick="OpenEditingMenu">
			</div>
			<a style="font-size: 0.8rem">@Enum.GetName(typeof(PortPin.PinMode), PortPin.Mode) Mode</a>
		</div>
	</div>
}

@code {
	[Parameter]
	public PortPin PortPin { get; set; } = new();

	private ModalPage linkingMenuModal;
	private bool isModalVisible;

	private string Width = "600px";

	private string Style = string.Empty;

	private void HideModal(bool value)
	{
		isModalVisible = value;
	}

	private void OpenEditingMenu()
	{
		isModalVisible = true;
	}

	private void SetStyles()
	{
		Style = Enum.GetName(typeof(PortPin.ObjectValueType), PortPin.ValueType).ToLower();

	}

	private void ChangeFavouriteState()
	{
		IGeneralComponent component = PortPin.ParentComponent;
		if (!ClientManager.GetClientIndexById(component.ParentClient.Id, out int clientIndex)) return;
		if (!ClientManager.GetComponentIndexById(clientIndex, component.Id, out int componentIndex)) return;
		if (!ClientManager.GetBoardPinIndexById(clientIndex, componentIndex, PortPin.Id, out int pinIndex)) return;

		ClientManager.Clients[clientIndex].Components[componentIndex].ConnectedPins[pinIndex].Favorite = !PortPin.Favorite;
	}

	protected override async Task OnParametersSetAsync()
	{
		SetStyles();
		StateHasChanged();
	}
}
