@page "/arduino"
@inject IJSRuntime JsRuntime
@inject Models.SnackBar SnackBar
@inject Models.WindowDimension WindowDimension
@inject SmartHome.Arduino.Models.Server ArduinoServer
@inject SmartHome.Arduino.Models.Components.GenericComponent GenericComponent

<div class="d-flex @WrapperState" id="wrapper">
    <!-- Sidebar -->
    <ArduinoSidebar Clients="@ArduinoServer.ClientManager.Clients" ClientClick="@OnClientClick"></ArduinoSidebar>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle" @onclick="ToggleWrapper">Toggle Menu</button>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="arduino/#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="arduino/#">Link</a>
                    </li>
                </ul>
            </div>
            <button class="btn btn-primary" id="menu-toggle" @onclick="RunTest">Test</button>
        </nav>
        <div class="container-fluid">
            <h1 class="mt-4">Simple Sidebar</h1>
            <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
            <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional, and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which will toggle the menu when clicked.</p>
            <ArduinoDataTable SelectedClient="@SelectedClient" WrapperState="@WrapperState"/>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<PageSnackBar SnackBarMessage="@SnackBar.Message"></PageSnackBar>

@code {
    private string WrapperState = String.Empty;
    private ArduinoClient SelectedClient { get; set; } = new ArduinoClient();

    void ToggleWrapper()
    {
        if (WrapperState == String.Empty)
            WrapperState = "toggled";
        else
            WrapperState = String.Empty;
    }

    async Task RunTest()
    {
        await WindowDimension.GetDimensions(JsRuntime);
        try
        {
            object? myObject = GenericComponent.CreateById(GenericComponent.ComponentsId.Unknown);
        }
        catch (ComponentNotFoundException)
        {
            await SnackBar.ShowMessage("Component not found");
        }
    }

    private void OnClientClick(ArduinoClient client)
    {
        SelectedClient = client;
    }

    protected override void OnInitialized()
    {
        if (ArduinoServer.ClientManager.Clients.Count > 0)
        {
            //TODO: In case I want by default a Client to be selected
        }
    }
}